{
  "extends": [
    "plugin:vue/vue3-recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "ElMessage": "readonly",
    "ElMessageBox": "readonly",
    "ElLoading": "readonly",
    "ElNotification": "readonly"
  },
  "parser": "vue-eslint-parser",
  "plugins": [
    "vue"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx"
    ]
  },
  "rules": {
    "no-console": "off",
    "no-continue": "off",
    "no-restricted-syntax": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "guard-for-in": "off",
    "semi": [
      "error",
      "never"
    ],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/first": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": true
      }
    ],
    "vue/no-unused-vars": "error",
    "vue/no-unused-components": "error",
    "vue/no-unused-properties": [
      "error",
      {
        "groups": [
          "props",
          "data",
          "computed",
          "methods",
          "setup"
        ]
      }
    ],
    "vue/max-attributes-per-line": "off",
    "no-use-before-define": "off",
    "class-methods-use-this": "off"
  },
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "vue/component-name-in-template-casing": [
          2,
          "kebab-case"
        ],
        "vue/require-default-prop": 0,
        "vue/multi-word-component-names": 0,
        "vue/no-reserved-props": 0,
        "vue/no-v-html": 0,
        "semi": [
          "error",
          "never"
        ],
        "vue/html-closing-bracket-newline": [
          "error",
          {
            "singleline": "never",
            "multiline": "never"
          }
        ],
        "vue/html-closing-bracket-spacing": [
          "error",
          {
            "startTag": "never",
            "endTag": "never",
            "selfClosingTag": "always"
          }
        ],
        "vue/max-attributes-per-line": [
          "error",
          {
            "singleline": {
              "max": 3
            },
            "multiline": {
              "max": 1
            }
          }
        ],
        "vue/no-unused-refs": "error",
        "no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "caughtErrorsIgnorePattern": "^_",
            "destructuredArrayIgnorePattern": "^_",
            "ignoreRestSiblings": true
          }
        ]
      }
    },
    {
      "files": [
        "*.js",
        "*.jsx"
      ],
      "rules": {
        "constructor-super": "off",
        "getter-return": "off",
        "no-const-assign": "off",
        "no-dupe-args": "off",
        "no-dupe-class-members": "off",
        "no-dupe-keys": "off",
        "no-func-assign": "off",
        "no-import-assign": "off",
        "no-new-symbol": "off",
        "no-obj-calls": "off",
        "no-redeclare": "off",
        "no-setter-return": "off",
        "no-this-before-super": "off",
        "no-undef": "off",
        "no-unreachable": "off",
        "no-unsafe-negation": "off",
        "no-var": "error",
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "valid-typeof": "off",
        "semi": [
          "error",
          "never"
        ],
        "no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "caughtErrorsIgnorePattern": "^_",
            "destructuredArrayIgnorePattern": "^_",
            "ignoreRestSiblings": true
          }
        ]
      }
    }
  ]
}